.modal_bek {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modal_bek 0.5s ease;
  z-index: 99999999;
}

@keyframes modal_bek {
  0% {
    top: 200px;
  }

  100% {
    top: 0;
  }
}

.modal_bek .modal_bek_not {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  background: rgba(124, 122, 122, 0.2);
  backdrop-filter: blur(10px);
  animation: focus 1s ease;
}

@keyframes focus {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal_bek .modal_bek_container {
  position: absolute;
  max-width: 620px;
  width: 100%;
  min-height: 0;
  background: #ffffff;
  box-shadow: 9px 12px 34px 0px rgba(209, 35, 35, 0.1),
    38px 49px 62px 0px rgba(209, 35, 35, 0.09),
    85px 110px 83px 0px rgba(209, 35, 35, 0.05),
    151px 196px 99px 0px rgba(209, 35, 35, 0.01),
    236px 306px 108px 0px rgba(209, 35, 35, 0);
  padding: 30px 14px;
  border-radius: 14px;
}
.modal_title {
  font-size: 24px;
  font-weight: 600;
  color: #191919;
  text-align: center;
  line-height: 1.1;
  margin-top: 20px;
}
.modal_text {
  font-size: 14px;
  font-weight: 400;
  color: #6b6b6b;
  text-align: center;
  line-height: 1.1;
  margin-top: 10px;
}
.modal_bek .close {
  cursor: pointer;
  top: 16px;
  right: 16px;
  position: absolute;
  width: 24px;
  height: 24px;
}
.modal_bek .check {
  width: 170px;
  height: 138px;
  margin: 0 auto;
}
.modal_bek .check img {
  width: 100%;
  height: 100%;
}
.modal_bek .modal_success button {
  border: none;
  background: var(--red);
  color: #fff;
  font-size: 16px;
  margin: 20px 0 0 0;
}
@media (max-width: 600px) {
  .modal_bek .modal_bek_container {
    width: 90%;
  }
}
@media (max-width: 470px) {
  .modal_title {
    font-size: 20px;
  }
}
@media (max-width: 370px) {
  .modal_title {
    font-size: 18px;
  }
  .modal_text {
    font-size: 12px;
  }
}
